<template>
  <b-container class="col-5">
    <b-input-group>
      <input type="text" class="form-control" placeholder="テキスト入力欄" v-model="message">
      <b-button @click="changeMessage" variant="primary">
        <font-awesome-icon icon='check'/>
        ボタン
      </b-button>
    </b-input-group>
    <p v-if="message && flag"><b-alert show>こんにちは, {{message}}さん!</b-alert></p>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      message: '',
      flag: false,
    };
  },
  methods: {
    changeMessage() {
      this.flag = true;
      // alert(`こんにちは ${this.message}さん`);

      setTimeout(() => {
        this.message = null;
      },
      5000);
    },
  },
};
</script>
